<div class="center">
    <div class="tela">
        <div class="foto">
            <fa-icon [icon]="faUser" class="user"></fa-icon>
        </div>
        <div class="campos">
            <div class="usuario">
                <input type="text" placeholder="Usuário">
                <mat-icon class="person">person</mat-icon>
            </div>
            <div class="senha">
                <input type="password" placeholder="Senha">
                <mat-icon class="key">vpn_key</mat-icon>
            </div>
        </div>
        <div class="entrar">
            <button>Entrar</button>
        </div>
    </div>
</div>




<p>login works!</p>
