<header>
    <nav class="menu">
        <div>
            <button mat-raised-button routerLink="/produtos">
                <fa-icon [icon]="faShoppingCart"></fa-icon>
                Produtos
            </button>
        </div>
        <div>
            <button mat-raised-button (click)="openDialog()">
                <fa-icon [icon]="faClipboardUser"></fa-icon>
                Cadastro
            </button>
        </div>
        <div>
            <button mat-raised-button routerLink="/clientes">
                <fa-icon [icon]="faUser"></fa-icon>
                Clientes
            </button>
        </div>
        <div>
            <button mat-raised-button routerLink="/login">
                <mat-icon>home</mat-icon>
                Login
            </button>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>

<footer class="rodape">
    <div>
        <p>Desenvolvido por <span>Geanderson Rodrigues</span> #ENOIS</p>
    </div>
</footer>